-
    var emLookupTypes = [
        {lookup: 'em-source', title: 'source', usage: 'logbook, review', level: 'trip'},
        {lookup: 'port', title: 'departurePort / returnPort', usage: 'logbook, review', level: 'trip'},
        {lookup: 'us-state', title: 'departureState / returnState', usage: 'logbook, review', level: 'trip'},
        {lookup: 'fishery', title: 'fishery', usage: 'logbook', level: 'trip'},
        {lookup: 'fishery-sector', title: 'fisherySector', usage: 'review', level: 'trip'},
        {lookup: 'catch-handling-performance', title: 'catchHandlingPerformance', usage: 'review', level: 'haul'},
        {lookup: 'gear', title: 'gear', usage: 'logbook, review', level: 'haul'},
        {lookup: 'net-type', title: 'netType', usage: 'logbook, review', level: 'haul'},
        {lookup: 'system-performance', title: 'systemPerformance', usage: 'review', level: 'haul'},
        {lookup: 'catch-disposition', title: 'disposition', usage: 'logbook, review', level: 'catch'},
        {lookup: 'fate', title: 'fate', usage: 'logbook, review', level: 'catch'},
        {lookup: 'calc-weight-type', title: 'calcWeightType', usage: 'logbook, review', level: 'catch'},
        {lookup: 'logbook-species', title: '(Logbook) speciesCode', usage: 'logbook', level: 'catch'},
        {lookup: 'review-species', title: '(Review) speciesCode', usage: 'review', level: 'catch'},
        {lookup: 'image-upload-reason', title: 'submissionReason', usage: 'review', level: 'screenshot'}
    ];

    var lookups = lookupResults;

doctype html
html(lang='en')
    head
        include head.pug
        script.
            var csv = !{JSON.stringify(csv)}
        script(src='./static/helpers.js')

body(class='container')
    include header.pug
    a(class="btn btn-primary" onClick="saveFile('em')" style="margin: 15px; float: right") export em-lookups.csv
    include nav.pug

    div(style="background-color: #007EC6; padding: 10px")
        h5(class="inst-desc" style="color: white") EM Lookups
        ul(style="list-style: none; color: white; text-decoration: none" class="row")
            each val in emLookupTypes
                li
                    a(href="#" + val.lookup style="color: white; margin: 10px")
                        span=val.title


    each val in emLookupTypes
        - var rowLookups = lookups.rows.filter( (couchRow) => couchRow.key === val.lookup ).sort((a,b) => (a.value[0]).localeCompare(b.value[0]))
        h5(id=val.lookup)
            span field:&nbsp;
            span=val.title
        table(style="width: 70%; border: 2px solid black; border-collapse: collapse")
            tr
                th Lookup
                th Description
                th Usage
                th Level
            each line in rowLookups
                tr
                    td=line.value[1]
                    td=line.value[0]
                    td=val.usage
                    td=val.level
        br
